*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: rgb(240, 247, 255);
}

/* logo e titolo */
header{
  background-color: white;
  margin-bottom: 40px;
}

header img{
  padding: 9px 9px 9px 12px;
  vertical-align: middle;
}

#title-logo{
  font-size: 2.2rem;
  font-weight: bold;
  vertical-align: middle;
}

/* button task e section */
.headbutton{
  border-radius: 5px 5px 0 0;
  width: 80%;
  height: 45px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.btn-blue, .btn-white{
  display: inline;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline;
}

.btn-blue{
  color: white;
  background-color: rgb(11, 163, 228);
  border: 2px solid rgb(11, 163, 228);
}

.btn-white{
  color: lightgray;
  background-color: rgb(255, 255, 255);
  border: 2px solid lightgray;
}

/* container todolist */
.todolist{
  width: 80%;
  height: 700px;
  margin: 0 auto;
  background-color: white;
  border-radius:0 0 5px 5px;
  padding-left: 40px;
  padding-top: 30px;
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: bold;
}

/* stile elementi to do list */
h2{
  margin-bottom: 10px;
}

.newtask, .today, .Upcoming{
  margin-bottom: 40px;
}

.check{
  color: green;
  border: 1px solid green;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}

.cross{
  color: red;
  border: 1px solid red;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}

h3{
  display: inline-block;
  vertical-align: middle;
}

.label{
  color: white;
  font-size: 8px;
  text-align: center;
  border-radius: 8px;
  padding: 7px 10px;
  display: inline;
}

.row-list{
  margin-bottom: 20px;
}

li{
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

/* stile colore etichette */
.blue{
  background-color: rgb(11, 163, 228);
}
.violet{
  background-color: rgb(156, 87, 177);
}
.orange{
  background-color: orange;
}
.teal{
  background-color: rgb(55, 188, 153);
}
.magenta{
  background-color: rgb(233, 94, 214);
}
.lightgreen{
  background-color: rgb(132, 183, 29);
}