*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 247, 255);
}

/* logo e titolo */
header{
  background-color: white;
  margin-bottom: 40px;
}

header img{
  padding: 9px 9px 9px 12px;
  vertical-align: middle;
}

#title-logo{
  font-size: 2.2rem;
  font-weight: bold;
  vertical-align: middle;
}

/* button task e section */
.headbutton{
  border-radius: 5px 5px 0 0;
  width: 80%;
  height: 45px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.btn{
  font-size: 12px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-blue{
  color: white;
  background-color: rgb(11, 163, 228);
  border: 1px solid rgb(11, 163, 228);
}

.btn-empty{
  color: lightgray;
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
}

/* container todolist */
.todolist{
  width: 80%;
  height: 700px;
  margin: 0 auto;
  background-color: white;
  border-radius:0 0 5px 5px;
  padding-left: 40px;
  padding-top: 30px;
  color: rgb(61, 61, 61);
  font-size: 14px;
  font-weight: bold;
}

/* stile elementi to do list */

.task ul{
  list-style: none;
}

.task ul li h3, .task ul li{
  margin-bottom: 30px;
}

.task ul li h3::before{
  content: '\25BE';
}

li .circle::before{
  display: inline-block;
  text-align: center;
  line-height: 15px;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  border-radius: 50%;
  font-size: 10px;
}

li .check.circle::before{

  color: green;
  border: 1px solid green;
  content: '\2713';

}

li .cross.circle::before{
  color: red;
  border: 1px solid red;
  content: '\2715';
}

.text{
  font-size: 16px;
}

.label::after{
  color: white;
  margin-left: 5px;
  font-size: 9px;
  text-align: center;
  border-radius: 8px;
  padding: 7px 10px;
}

/* stile colore etichette */
.blue::after{
  background-color: rgb(11, 163, 228);
  content: 'Editorial';
}
.violet::after{
  background-color: rgb(156, 87, 177);
  content: 'Q1 Goals';
}
.orange::after{
  background-color: orange;
  content: 'Mobile';
}
.teal::after{
  background-color: rgb(55, 188, 153);
  content: 'Recruiting';
}
.magenta::after{
  background-color: rgb(233, 94, 214);
  content: 'Website';
}
.lightgreen::after{
  background-color: rgb(132, 183, 29);
  content: 'Sales';
}